.vermelho{
    color: rgb(226, 110, 43);
    font-size: 3rem;
    font-style: oblique;
}
.azul{
    color: rgb(55, 143, 214);
    font-size: 3rem;
    font-style: oblique;
}
.verde{
    color: rgb(59, 165, 112);
    font-size: 3rem;
    font-style: oblique;
}